<h1> Friends List App</h1>

<p>
	   <h2> Description:</h2>

		<%= @about_me %>
</p>
<br>

<p>
		<h2 >Key Features:</h2>
		<br>
		<%= @Effortless %>
		<br>
		<br>
		<%= @Diverse %>
		<br>
		<br>
		<%= @Comprehensive %>
		<br>
		<br>
		<%=  @Multi %>
		<br>
		<br>
		<%=  @Security%>
		<br>
		<br>
		<%=    @Editing %>
	
</p>